# ====================
# CMake相关
# ====================
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
build/
_build/
*_build/

# ====================
# 编译生成文件
# ====================
*.obj
*.o
*.so
*.dll
*.dylib
*.exe
*.out
*.app
*.i*
*.ii
*.pdb
*.idb
*.lib
*.a
bin/
/net/bin
/net/lib
# ====================
# Visual Studio
# ====================
.vscode/
.vs/
*.vcxproj*
*.sln
*.user
*.opensdf
*.sdf
*.ipch
*.VC.db
*.VC.opendb

# ====================
# CLion
# ====================
.idea/
cmake-build-*/

# ====================
# MacOS相关
# ====================
.DS_Store

# ====================
# 日志文件
# ====================
*.log

# ====================
# 临时文件
# ====================
*~
*.swp
*.bak

# ====================
# 其他IDE或编辑器生成文件
# ====================
*.code-workspace
*.directory

# ====================
# 依赖
# ====================
third_party/
